{% extends "layout.twig" %}

{% block content %}

<header class="bk-header">
    <div class="header-bg">
         <div class="wrapper companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
        </div>
    </div>
    <nav class="clearfix">
       {{widget('extendednavigation', 'navigationheader', {})|raw}}
    </nav>
</header>

<div class="main wrapper clearfix">
    {{zone('main')|raw}}
        <a class="twitter-timeline" href="https://twitter.com/Vinny_Tran" data-widget-id="489461595295064064">Tweets by @Vinny_Tran</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>  

<footer class="bk-footer">
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-two-50-50">
            <div class="column columns-two-left">
                {{widget('profile', 'socialicons', { 'profileType':'socialicons', 'socialicons':'profile'})|raw}}
            </div>
            <div class="column columns-two-right">
                {{widget('profile', 'phone', { 'profileType':'phone', 'phone':'profile', 'refreshtime':'1800000'})|raw}}
            </div>
        </div>
    </div>
</footer>

{% endblock %}